.html
{
	background: #000000 url("../images/grass-background.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500.95000000000005px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -123px;
}

#u75
{
	z-index: 2;
	width: 1024px;
}

#menuu81
{
	z-index: 4;
	width: 1024px;
}

#u106
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
}

#u107
{
	width: 203px;
	padding-bottom: 18px;
}

#u107:hover
{
	margin: 0px;
}

#u108-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u107:hover #u108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u131
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
	left: 205px;
}

#u132
{
	width: 203px;
	padding-bottom: 18px;
}

#u107.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u133-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u107.MuseMenuActive #u108-4,#u132:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
	left: 410px;
}

#u145
{
	width: 203px;
	padding-bottom: 18px;
}

#u132.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u148-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u132.MuseMenuActive #u133-4,#u145:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
	left: 615px;
}

#u158
{
	width: 203px;
	padding-bottom: 18px;
}

#u145.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u161-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u145.MuseMenuActive #u148-4,#u158:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 203px;
	top: 40px;
}

#u309
{
	width: 201px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u309:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u311-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u309:hover #u311-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u324
{
	width: 201px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u309.MuseMenuActive,#u324:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u327-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u309.MuseMenuActive #u311-4,#u324:hover #u327-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u329
{
	width: 201px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u324.MuseMenuActive,#u329:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u331-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u324.MuseMenuActive #u327-4,#u329:hover #u331-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u163,#u308,#u321,#u328,#u335
{
	width: 203px;
}

#u336
{
	width: 201px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u329.MuseMenuActive,#u336:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u336.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u338-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u329.MuseMenuActive #u331-4,#u336:hover #u338-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u336.MuseMenuActive #u338-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 204px;
	min-height: 40px;
	margin-right: -10000px;
	left: 820px;
}

#u171
{
	width: 204px;
	padding-bottom: 18px;
}

#u158.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171.MuseMenuActive
{
	margin: 0px;
}

#u173-4
{
	width: 204px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u158.MuseMenuActive #u161-4,#u171:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u171.MuseMenuActive #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u188-4
{
	z-index: 75;
	width: 904px;
	min-height: 35px;
	line-height: 43px;
	font-size: 36px;
	color: #009245;
	font-family: didact-gothic, sans-serif;
	font-weight: 400;
	margin-left: 60px;
	margin-top: 35px;
	position: relative;
}

#u190-4
{
	z-index: 79;
	width: 904px;
	min-height: 67px;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: arapey, sans-serif;
	font-weight: 400;
	margin-left: 60px;
	margin-top: 6px;
	position: relative;
}

#u343-4
{
	z-index: 83;
	width: 391px;
	min-height: 26px;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: arapey, sans-serif;
	font-weight: 400;
	margin-left: 60px;
	margin-top: 15px;
	position: relative;
}

#pu534
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 15px;
	position: relative;
}

#u534
{
	z-index: 89;
	width: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u534:hover
{
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.8);
}

#u529
{
	z-index: 87;
	width: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#u529:hover
{
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.8);
}

#pu582
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 28px;
	position: relative;
}

#u582
{
	z-index: 93;
	width: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u582:hover
{
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.8);
}

#u539
{
	z-index: 91;
	width: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#u539:hover
{
	background-color: #323232;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.8);
}

#u534_img:hover,#u529_img:hover,#u582_img:hover,#u539_img:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u184
{
	z-index: 61;
	width: 1024px;
	margin-top: 102px;
}

#u186-7
{
	z-index: 62;
	width: 1024px;
	min-height: 40px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u187-6
{
	z-index: 69;
	width: 1024px;
	min-height: 22px;
}

body
{
	padding-top: 35px;
	padding-bottom: 136px;
}

#page .verticalspacer
{
	clear: both;
}

