.html
{
	background: #000000 url("../images/grass-background.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500.8377005347593px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -123px;
}

#u75
{
	z-index: 2;
	width: 1024px;
}

#menuu81
{
	z-index: 4;
	width: 1024px;
}

#u106
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
}

#u107
{
	width: 203px;
	padding-bottom: 18px;
}

#u107:hover
{
	margin: 0px;
}

#u108-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u107:hover #u108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u131
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
	left: 205px;
}

#u132
{
	width: 203px;
	padding-bottom: 18px;
}

#u107.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u133-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u107.MuseMenuActive #u108-4,#u132:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
	left: 410px;
}

#u145
{
	width: 203px;
	padding-bottom: 18px;
}

#u132.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u148-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u132.MuseMenuActive #u133-4,#u145:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 203px;
	min-height: 40px;
	margin-right: -10000px;
	left: 615px;
}

#u158
{
	width: 203px;
	padding-bottom: 18px;
}

#u145.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u161-4
{
	width: 203px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u145.MuseMenuActive #u148-4,#u158:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 203px;
	top: 40px;
}

#u309
{
	width: 201px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u309:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u311-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u309:hover #u311-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u324
{
	width: 201px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u309.MuseMenuActive,#u324:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u327-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u309.MuseMenuActive #u311-4,#u324:hover #u327-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u329
{
	width: 201px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u324.MuseMenuActive,#u329:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u331-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u324.MuseMenuActive #u327-4,#u329:hover #u331-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u163,#u308,#u321,#u328,#u335
{
	width: 203px;
}

#u336
{
	width: 201px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u329.MuseMenuActive,#u336:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u336.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u338-4
{
	width: 193px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u329.MuseMenuActive #u331-4,#u336:hover #u338-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u336.MuseMenuActive #u338-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 204px;
	min-height: 40px;
	margin-right: -10000px;
	left: 820px;
}

#u171
{
	width: 204px;
	padding-bottom: 18px;
}

#u158.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171.MuseMenuActive
{
	margin: 0px;
}

#u173-4
{
	width: 204px;
	min-height: 22px;
	margin-right: -10000px;
	top: 9px;
}

#u158.MuseMenuActive #u161-4,#u171:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u171.MuseMenuActive #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u382-4
{
	z-index: 82;
	width: 904px;
	min-height: 35px;
	line-height: 43px;
	font-size: 36px;
	color: #009245;
	font-family: didact-gothic, sans-serif;
	font-weight: 400;
	margin-left: 60px;
	margin-top: 35px;
	position: relative;
}

#pu381-7
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 26px;
	position: relative;
}

#u381-7
{
	z-index: 75;
	width: 470px;
	min-height: 113px;
	line-height: 24px;
	font-size: 20px;
	color: #C3C3C3;
	font-family: arapey, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u652
{
	z-index: 155;
	width: 421px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 483px;
}

#pu387-20
{
	width: 0.01px;
	margin-left: 159px;
	margin-top: 43px;
	position: relative;
}

#u387-20
{
	z-index: 110;
	width: 343px;
	min-height: 264px;
	line-height: 24px;
	font-size: 20px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u387-2
{
	color: #009245;
	font-family: didact-gothic, sans-serif;
}

#u387-4,#u387-6,#u387-8,#u387-10,#u387-12,#u387-14,#u387-16,#u387-18
{
	color: #C3C3C3;
	font-family: arapey, sans-serif;
}

#u386-24
{
	z-index: 86;
	width: 343px;
	min-height: 113px;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	left: 363px;
}

#pu388-13
{
	width: 0.01px;
	margin-left: 159px;
	margin-top: 11px;
	position: relative;
}

#u388-13
{
	z-index: 130;
	width: 343px;
	min-height: 190px;
	line-height: 24px;
	font-size: 20px;
	color: #C3C3C3;
	font-family: arapey, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u388-3
{
	font-weight: 700;
}

#u388-5,#u388-7,#u388-9,#u388-11
{
	font-weight: 400;
}

#u389-12
{
	z-index: 143;
	width: 343px;
	min-height: 190px;
	line-height: 24px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	left: 363px;
}

#u386-2,#u388,#u389-2
{
	color: #009245;
	font-family: didact-gothic, sans-serif;
	font-weight: 700;
}

#u386-4,#u386-6,#u386-8,#u386-10,#u386-12,#u386-14,#u386-16,#u386-18,#u386-20,#u386-22,#u389-4,#u389-6,#u389-8,#u389-10
{
	color: #C3C3C3;
	font-family: arapey, sans-serif;
	font-weight: 400;
}

#u184
{
	z-index: 61;
	width: 1024px;
	margin-top: 102px;
}

#u186-7
{
	z-index: 62;
	width: 1024px;
	min-height: 40px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u187-6
{
	z-index: 69;
	width: 1024px;
	min-height: 22px;
}

body
{
	padding-top: 35px;
	padding-bottom: 136px;
}

#page .verticalspacer
{
	clear: both;
}

